.app {
  margin: 20px 20px;
}
.no-page-found {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-bg {
  background-image: url("/public/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
}
.links {
  text-decoration: none;
}
.input-error {
  color: #fc8181;
  text-align: left;
  margin-left: 2px;
}
button:disabled {
  opacity: 0.25;
}
