.app {
  margin: 5px 2px;
  /* background-color: rgb(197, 219, 245); */
}
.no-page-found {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-bg {
  background-image: url("/public/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  margin-top: 2px;
}
.links {
  text-decoration: none;
}
.input-error {
  color: #fc8181;
  text-align: left;
  margin-left: 2px;
}
button:disabled {
  opacity: 0.25;
}
.header-page {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
